<!DOCTYPE html>
<html>
	<head>
		<title>Visitka by Oleg Gnedov</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>Oleg Gnedov</h1>
						<p>Sys Admin &nbsp;&bull;&nbsp; Network ingener &nbsp;&bull;&nbsp; Future DevOps</p>
						<nav>
							<ul>
								<li><span class="label"><a href="https://t.me/vanadisodr">Telegram</a>.</span></li>
								<li><span class="label"><a href="https://vk.com/vanadisodr">VK</a>.</span></li>
								<li><span class="label"><a href="https://kaliningrad.hh.ru/resume/9bdb1fcfff09e528b40039ed1f6b6d716f7159">HH.RU</a>.</span></li>
								<li><span class="label"><a href="mailto:oleggnedov5@gmail.com?subject=Предложение по работе">Gmail</a>.</span></li>
								<li><span class="label"><a href="https://github.com/VanadisOdr">GitHub</a>.</span></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">GitHub project: <a href="https://github.com/VanadisOdr/djbiscard">by VanadisOdr</a>.</span>
					</footer>

			</div>
		</div>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>